<div class="flex flex-col gap-y-5 m-3">
  <div class="flex flex-row justify-end px-2 pb-2 !rounded-none styleBorderSolidLite border-b">
    <button class="styleFloatBut" (click)="changeTypeView()">
      @if (typeViewList == 'grid') {
        <ion-icon name="grid" />
      } @else if (typeViewList == 'list') {
        <ion-icon name="list" />
      }
    </button>
  </div>

  @if (typeViewList == 'grid') {
    <div class="flex flex-row flex-wrap gap-3 h-[200px]">
      @for (link of listRecentLinks; track link) {
        <app-card-item
          [link]="link"
        ></app-card-item>
      }
    </div>
  } @else if (typeViewList == 'list') {
    <div class="flex flex-col gap-y-3">
      @for (link of listRecentLinks; track link) {
        <app-tile-item
          [link]="link"
        ></app-tile-item>
      }
    </div>
  } @else {
    <div class="flex flex-col items-center justify-center">
      <span>Unknown data display format!</span>
    </div>
  }

  @if (listRecentLinks.length == 0) {
    <div class="flex flex-col items-center justify-center gap-y-3">
      <span class="text-2xl">You haven't used more than one tool yet.</span>
      <span class="text-2xl">Click the <ion-icon
        class="styleLinkRedir cursor-pointer"
        name="search"
      /> or <a [routerLink]="['/search']" class="styleLinkRedir">Search</a> button to start using the tools</span>
    </div>
  }
</div>

<app-window-notify
  [dataNotify]="dataNotify"
></app-window-notify>