@if (isShowSearchField) {
  <div class="flex flex-row items-center gap-x-2 styleElem p-2">
    <mat-icon class="!w-[32px] !h-[32px] !text-2xl" fontIcon="search" (click)="isShowSearchField = false" />
    <input type="text"
      class="styleField !border-none w-full"
      placeholder="Search..."
      id="searchField"
      [(ngModel)]="searchField"
      (keyup)="searchFunc()" />
  </div>
} @else {
  <div class="styleFloatBut" (click)="setFocusField()">
    <mat-icon class="!w-[32px] !h-[32px] !text-2xl" fontIcon="search" />
    <span class="hidden sm:block">Search</span>
  </div>
}