@if (isShowSearchField) {
  <div class="absolute flex flex-col -top-2 left-0 w-full">
    <div class="flex flex-row items-center gap-x-2 p-2 mx-auto styleElem w-[95%]">
      <mat-icon class="!w-[32px] !h-[32px] !text-3xl cursor-pointer" fontIcon="search" (click)="isShowSearchField = false" />
      <input type="text"
        class="styleField !border-none w-full"
        placeholder="Search..."
        id="searchField"
        [(ngModel)]="searchField"
        (keyup)="searchFunc()" />
      <mat-icon class="!w-[32px] !h-[32px] !text-3xl cursor-pointer" fontIcon="close" (click)="isShowSearchField = false" />
    </div>
  </div>
} @else {
  <div class="styleFloatBut" (click)="setFocusField()">
    <mat-icon class="!w-[32px] !h-[32px] !text-3xl" fontIcon="search" />
    <span class="hidden sm:block">Search</span>
  </div>
}