@if (windNotify) {
  <div id="windNotify" class="styleWindNotify" [ngClass]="[color]">
    <div class="flex flex-row items-start gap-x-2 p-3">
      <div class="flex flex-col">
        <div class="flex flex-row gap-x-2">
          <mat-icon class="!w-[40px] !h-[40px] !text-4xl mr-3" fontIcon="notifications" />
          <span class="text-2xl">Notification</span>
        </div>
        <span>{{text}}</span>
      </div>
      <button (click)="windNotify = false">
        <mat-icon class="!w-7 !h-7 !text-xl" fontIcon="cancel_outline" />
      </button>
    </div>
    <div class="flex flex-col mb-1 bg-white w-full h-1" id="timeNotify"></div>
  </div>
}

<span class="hidden bg-green-700"></span>
<span class="hidden bg-yellow-500"></span>
<span class="hidden bg-red-700"></span>
