<div class="flex flex-col gap-y-5 m-3">
  <div
    class="relative flex flex-row justify-between px-2 pb-2 !rounded-none styleBorderSolidLite border-b"
  >
    <button class="styleFloatBut !p-1 w-10 h-10" (click)="refresh()">
      <div id="refreshBut">
        <mat-icon fontIcon="refresh" />
      </div>
    </button>

    <div class="flex flex-row gap-x-2 items-center">
      <app-search [tempArray]="tempListLinks" (array)="searchFunc($event)" />
      <button class="styleFloatBut !p-1 w-10 h-10" (click)="changeTypeView()">
        @if (typeViewList == "grid") {
          <mat-icon fontIcon="grid_view" />
        } @else if (typeViewList == "list") {
          <mat-icon fontIcon="list" />
        }
      </button>
    </div>
  </div>

  @if (typeViewList == "grid") {
    <div class="flex flex-row flex-wrap gap-3">
      @for (link of listLinks; track link) {
        <app-card-item [link]="link" />
      }
    </div>
  } @else if (typeViewList == "list") {
    <div class="flex flex-col gap-y-3">
      @for (link of listLinks; track link) {
        <app-tile-item [link]="link" />
      }
    </div>
  } @else {
    <div class="flex flex-col items-center justify-center">
      <span>Unknown data display format!</span>
    </div>
  }
</div>
