<mat-expansion-panel [expanded]="index == 0 ? true : false">
  <mat-expansion-panel-header>
    <mat-panel-title>Nested Table</mat-panel-title>
  </mat-expansion-panel-header>
  <table class="styleBorderSolid border w-full m-1">
    <thead>
      <tr>
        @for (cell of dataTable.thead; track cell) {
          <th class="styleTD">{{ cell }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of dataTable.tbody; track row; let i = $index) {
        <tr>
          @for (cell of row; track cell) {
            <td class="styleTD" [ngClass]="i % 2 == 0 ? 'bg-gray-300 dark:bg-slate-700' : ''">
              @if (isString(cell)) {
                {{ cell }}
              } @else if (isTable(cell)) {
                <div class="theme rounded-xl">
                  <app-table [dataTable]="cell" [index]="i + 1" />
                </div>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</mat-expansion-panel>
