<div class="styleBottomNav">
  <div class="flex flex-col items-center justify-center">
    <mat-icon class="cursor-pointer" [routerLink]="['/home']" fontIcon="home"
      [ngClass]="[ url == 'home' ? '!text-blue-500 dark:!text-green-500' : '' ]" />
  </div>

  <div class="flex flex-col items-center justify-center">
    <mat-icon class="cursor-pointer" [routerLink]="['/search']" fontIcon="search"
      [ngClass]="[ url == 'search' ? '!text-blue-500 dark:!text-green-500' : '' ]" />
  </div>

  <div class="flex flex-col items-center justify-center">
    <mat-icon class="cursor-pointer" [routerLink]="['/catalogs']" fontIcon="category"
      [ngClass]="[ url == 'catalogs' ? '!text-blue-500 dark:!text-green-500' : '' ]" />
  </div>

  <div class="flex flex-col items-center justify-center">
    <mat-icon class="cursor-pointer" [routerLink]="['/about']" fontIcon="information"
      [ngClass]="[ url == 'about' ? '!text-blue-500 dark:!text-green-500' : '' ]" />
  </div>
</div>